<h1>Dragon Ball z</h1>
<hr>

<div class="row">
    <div class="col">
        <!--
            Se configura el uso de serviocios
            
            app-personajes es un componente envcargado de mostrar data

            se modifica el componente app-agregar (bloque)
            el cual contiene dos archivos un .html  y un .ts, con la logica para ingresar datos en el front
            "nuevoPersonaje" captura los datos que estan en el formulario
            [nuevo] toma los datos de entrada y los manipula segun la logica
            
            como el MainPageComponent (padre) se configura dbz.module.ts
            el MainPageComponent contiene dos archivos un main-page.component.html y un main-page.component.ts
            todos los hijos que este tenga configurados se muestran y funcionan en el front 
        -->
        <app-personajes></app-personajes>
    </div>
    <div class="col">
        <app-agregar [nuevo]="nuevoPersonaje" ></app-agregar>
    </div>
</div>
